#section0 {
    background-image: url(../images/main-page-title.png);
}

#section1 {
    background-image: url(../images/main-page-title.png);
}

.about-us {
    background-color: aliceblue;
}

.pricing {
    background-color: aliceblue;
}