html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

p {
  margin: 0 0 10px;
}

/* ======== CONTAINER  ======== */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 40px;
}

/* ======== HEADER ======== */
.header {
  text-decoration: black;
}
.navbar-brand {
  font-family: "Playfair Display", serif;
}
.navbar {
  color: black;
  border-bottom: 1px black solid;
}

.navbar-collapse {
  flex-grow: 0;
}

.active {
  pointer-events: none;
  text-decoration: none;
}

/* ======== About Us ======== */
.about-us {
  color: black;
}
.info-about-us {
  padding-top: 20px;
  padding-bottom: 20px;
}
.info-main-title {
  padding-top: 55px;
}

.offers {
  padding-left: 50px;
  padding-bottom: 20px;
}
.team {
  background-color: rgb(240, 234, 234);
}
.team-title {
  padding-top: 30px;
  padding-left: 500px;
  padding-bottom: 20px;
}

.girl {
  padding-left: 50px;
}
.john {
  padding-left: 40px;
}

/* ======== CAROUSEL ======== */

.carousel {
  margin: 0 auto;
  width: 80%;
}

/* ======== FOOTER ======== */

.footer {
  border-top: 1px solid black;
  position: relative;
}

.footer-text {
  font-size: 12px;
  padding-top: 10px;
  margin-inline-start: 10px;
  max-width: 50%;
  color: black;
}
